In [1]:
import pandas as pd

df = pd.read_parquet('../data/lending_club_case_train_dataset.parquet')

In [3]:
df.head()

/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,default
0,1077501,5000,5000,4976.0,36,0.106506,162.87500,B,B2,NaN,...,NaT,NaT,-1,-1,NaN,-1.0,-1.0,-1.0,N,0.0
1,1077430,2500,2500,2500.0,60,0.152710,59.84375,C,C4,Ryder,...,NaT,NaT,-1,-1,NaN,-1.0,-1.0,-1.0,N,1.0
2,1077175,2400,2400,2400.0,36,0.159546,84.31250,C,C5,NaN,...,NaT,NaT,-1,-1,NaN,-1.0,-1.0,-1.0,N,0.0
3,1076863,10000,10000,10000.0,36,0.134888,339.25000,C,C1,AIR RESOURCES BOARD,...,NaT,NaT,-1,-1,NaN,-1.0,-1.0,-1.0,N,0.0
4,1075358,3000,3000,3000.0,60,0.126953,67.81250,B,B5,University Medical Group,...,NaT,NaT,-1,-1,NaN,-1.0,-1.0,-1.0,N,0.0

In [5]:
df.describe()

/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/marcos.mota/projects/personal/lending_club/.venv/lib/python3.11/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,issue_d,dti,...,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,default
count,1765426.0,1765426.0,1765426.0,1765426.0,1765426.0,1.765426e+06,1.765426e+06,1.765426e+06,1765426,1.765426e+06,...,1765426.0,32610,32610,32610,1765426.0,1765426.0,1765426.0,1765426.0,1765426.0,1583646.0
mean,64678671.797902,14772.555052,14765.81032,NaN,42.801889,NaN,NaN,7.740270e+04,2015-09-27 02:26:31.929426432,NaN,...,NaN,2019-07-24 03:13:16.835326208,2019-09-27 21:26:09.162833408,2019-07-29 15:42:20.202391296,-0.936116,-0.870598,NaN,NaN,NaN,NaN
min,54734.0,500.0,500.0,0.0,36.0,5.319214e-02,4.929688e+00,-1.000000e+00,2007-06-01 00:00:00,-2.000000e+00,...,-1.0,2017-01-01 00:00:00,2017-03-01 00:00:00,2017-02-01 00:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,0.0
25%,34312148.25,8000.0,8000.0,8000.0,36.0,9.747314e-02,2.513750e+02,4.600000e+04,2014-11-01 00:00:00,1.200781e+01,...,-1.0,2018-09-01 00:00:00,2018-12-01 00:00:00,2018-10-01 00:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,0.0
50%,67969717.5,12600.0,12575.0,12496.0,36.0,1.274414e-01,3.762500e+02,6.500000e+04,2015-12-01 00:00:00,1.787500e+01,...,-1.0,2020-04-01 00:00:00,2020-06-01 00:00:00,2020-04-01 00:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,0.0
75%,95915829.5,20000.0,20000.0,20000.0,60.0,1.599121e-01,5.815000e+02,9.200000e+04,2017-01-01 00:00:00,2.435938e+01,...,-1.0,2020-04-01 00:00:00,2020-06-01 00:00:00,2020-04-01 00:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,0.0
max,126419328.0,40000.0,40000.0,40000.0,60.0,3.098145e-01,1.720000e+03,1.100000e+08,2017-12-01 00:00:00,9.990000e+02,...,2798.0,2020-05-01 00:00:00,2020-10-01 00:00:00,2020-08-01 00:00:00,4.0,82.0,5640.0,40320.0,25968.0,1.0
std,38281211.937377,8886.94878,8884.313236,0.0,10.815716,0.000000e+00,0.000000e+00,1.185158e+05,NaN,0.000000e+00,...,0.0,NaN,NaN,NaN,0.472741,1.564322,0.0,0.0,0.0,0.0